body,
html {
  color: #000;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-size: 120%;
  background: linear-gradient(-45deg, rgba(255, 213, 213, 0.502), #ffffff50, #ff9db180);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#temperature {
  font-variant: small-caps;
  font-size: 35px;
  text-align: right;
  color: black;
  font-weight: bolder;
  margin-block: 10px;
}

#city-name {
  font-variant: small-caps;
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-block: 10px;
}

h2 {
  font-size: 17px;
  text-align: center;
}

.container.floating-box{
  width: 450px;
  background-color: rgba(255, 255, 255, .35);
  backdrop-filter: blur(5px);
  box-shadow: 1px 1px 8px rgba(119, 59, 59, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.contents-wrapper {
  margin-block: 20px;
  padding: 15px;

}

input#search-text-input {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  width: 75%;
  margin-bottom: 20px;
  border: none;
}

.search-form-button {
  background: #000;
  color: #fff;
  border: none;
}

input:hover {
  background-color: rgba(253, 253, 253, 0.7);
  transition-delay: 5ms;
  color: #000;
}

input{
  width: 22%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .45);
  padding: 5px;
  margin-bottom: 20px;
}

img#icon {
  width: 100px;
  position:absolute;
  right: 25px;
}

.col.weather-description {
  color: black;
  border-radius: 10px;
  padding-block: 10px;
  padding-inline: 30px;
  background-color: rgba(255, 255, 255, .3);
  font-size: 15px; 
  box-shadow: 1px 1px 8px rgba(119, 59, 59, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

footer {
  font-size: x-small;
  position: sticky;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.weather-forecast-date {
  margin-top: 20px;
  text-align: center;
  font-weight: bolder;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  font-weight: lighter;
  opacity: 0.5
}

.weather-forecast-temperature-max {
  font-weight: bolder;
}